<div class="card text-center">
  <div class="card-header">
    Twitter crawl application
  </div>
  <div class="card-body">
    <h5 class="card-title">Scrap profiles</h5>
    <p class="card-text">This application will scrap the twitter profiles and save the profile data.</p>
    <%= link_to "Scrap", crawl_new_path, class: 'btn btn-primary'%>
  </div>
</div>

